<div layout="column" layout-align="center center" class="login">
  <h2>Welcome to Posts Application</h2>
  <form name="loginForm" class="login-form">
    <md-input-container class="md-block">
         <label>User</label>
         <input required md-no-asterisk name="userName" ng-model="userName">
         <div ng-messages="title.$error">
           <div ng-message="required">This is required.</div>
         </div>
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="login()" ng-disabled="!userName">
      Save
    </md-button>
  </form>
</div>
