<h2>Create New Post</h2>
<form name="postForm">
  <md-input-container class="md-block">
       <label>Title</label>
       <input required md-no-asterisk name="title" ng-model="title">
       <div ng-messages="title.$error">
         <div ng-message="required">This is required.</div>
       </div>
  </md-input-container>
  <md-input-container class="md-block">
       <label>Description</label>
       <input required md-no-asterisk name="description" ng-model="description">
       <div ng-messages="description.$error">
         <div ng-message="required">This is required.</div>
       </div>
  </md-input-container>
  <div layout="row" layout-align="space-between center">
    <md-button class="md-raised md-warn" ng-href="#/posts">
      <md-icon>keyboard_arrow_left</md-icon>
    </md-button>
    <md-button class="md-raised md-primary" ng-click="save()">
      Save
    </md-button>
  </div>
</form>
