<div ng-repeat="item in content" class="simple-list">
  <div class="item-title">
    {{item.title}}
  </div>
  <div class="list-options"  layout="row" layout-align="space-between center">
    <div class="item-details">
      <md-chips>
        <md-chip>
          {{item.comments}}
        </md-chip>
      </md-chips>
    </div>
    <div class="item-options">
      <div type="button" ng-repeat="option in options" name="button">
        <md-button ng-if="option.isButton" ng-click="option.click(item.id)" class="md-raised"> {{option.name}} </md-button>
      </div>
    </div>
  </div>
</div>
<div ng-if="!content" class="error">
  No results at the moment. Please try later.
</div>
